<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/components.css" />
    <link rel="stylesheet" href="css/home.css" />
    <title>Renting Platform</title>
</head>
<body>

    <header class="main-header">
        <h1><span>Renting Platform</span></h1>
        <nav class="main-nav">
            <a href="/controlPanel" class="btn">Control Panel</a>
            <a href="/login" class="btn">Login</a>
        </nav>
    </header>

    <nav class="categories">
        <a href="/" class="btn">Construction tools</a>
        <a href="/" class="btn">Camping and Travel</a>
        <a href="/" class="btn">Party</a>
        <a href="/" class="btn">Garden</a>
    </nav>

</body>
</html>
