<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>profile - Renting Platform</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
    <div class="container market-page">
        <header class="header-box">
            <h2 class="header-title">Renting Platform</h2>
            <nav class="market-nav">
                <label>Name</label>
                <label>Gmail</label>
                <a href="/" class="btn">Home</a>
            </nav>
        </header>

        <section class="market-grid">
            <h2>My Rentings</h2>
            <div class="card">
                <h3>Product 1</h3>
                <a href="#" class="btn">View</a>
            </div> 
        </section>
        <section class="market-grid">
            <h2>My Products</h2>
            <div class="card">
                <h3>Product 1</h3>
                <a href="#" class="btn">View</a>
            </div> 
        </section>
    </div>
</body>

</html>