<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/components.css" />
    <link rel="stylesheet" href="css/auth.css" />
</head>
<body>
    <div class="container">
        <form class="form-box" action="/signup" method="POST">
            <h2>Create Account</h2>

            <div class="input-group">
                <label>Full Name</label>
                <input type="text" name="name" placeholder= "Enter your name" required />
            </div>

            <div class="input-group">
                <label>Email</label>
                <input type="email" name="email" placeholder="Enter your email" required />
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" placeholder="Create a password" required />
            </div>

            <div class="input-group">
                <label>Account Type</label>
                <select name="role" required>
                    <option value="user">User (Rent)</option>
                    <option value="owner">Owner (Post Products)</option>
                </select>
            </div>

            <button type="submit" class="btn">Sign Up</button>

            <p class="bottom-text">
                Already have an account?
                <a href="/login">Login</a>
            </p>
        </form>
    </div>
</body>
</html>
